:root {
  --scg-size-base: 0.25rem;
  --scg-size-0: 0px;
  --scg-size-1px: 1px;
  --scg-size-0_5: 0.125rem;
  --scg-size-1_5: 0.375rem;
  --scg-size-2_5: 0.625rem;
  --scg-size-3_5: 0.875rem;
  --scg-size-1: calc(1 * var(--scg-size-base));
  --scg-size-2: calc(2 * var(--scg-size-base));
  --scg-size-3: calc(3 * var(--scg-size-base));
  --scg-size-4: calc(4 * var(--scg-size-base));
  --scg-size-5: calc(5 * var(--scg-size-base));
  --scg-size-6: calc(6 * var(--scg-size-base));
  --scg-size-7: calc(7 * var(--scg-size-base));
  --scg-size-8: calc(8 * var(--scg-size-base));
  --scg-size-9: calc(9 * var(--scg-size-base));
  --scg-size-10: calc(10 * var(--scg-size-base));
  --scg-size-11: calc(11 * var(--scg-size-base));
  --scg-size-12: calc(12 * var(--scg-size-base));
  --scg-size-14: calc(14 * var(--scg-size-base));
  --scg-size-16: calc(16 * var(--scg-size-base));
  --scg-size-20: calc(20 * var(--scg-size-base));
  --scg-size-24: calc(24 * var(--scg-size-base));
  --scg-size-28: calc(28 * var(--scg-size-base));
  --scg-size-32: calc(32 * var(--scg-size-base));
  --scg-size-36: calc(36 * var(--scg-size-base));
  --scg-size-40: calc(40 * var(--scg-size-base));
  --scg-size-44: calc(44 * var(--scg-size-base));
  --scg-size-48: calc(48 * var(--scg-size-base));
  --scg-size-52: calc(52 * var(--scg-size-base));
  --scg-size-56: calc(56 * var(--scg-size-base));
  --scg-size-60: calc(60 * var(--scg-size-base));
  --scg-size-64: calc(64 * var(--scg-size-base));
  --scg-size-72: calc(72 * var(--scg-size-base));
  --scg-size-80: calc(80 * var(--scg-size-base));
  --scg-size-96: calc(96 * var(--scg-size-base));
  --scg-clr-primary: #7b83eb;
  --scg-clr-secondary: #f5f6fe;
  --scg-clr-tetriary: #e8eafc;
  --scg-clr-neutral-1: #ffffff;
  --scg-clr-neutral-2: #ececf4;
  --scg-clr-neutral-3: #bcbed3;
  --scg-clr-neutral-4: #9796a6;
  --scg-clr-neutral-5: #1d1b27;
  --scg-clr-success: #b0eb32;
  --scg-clr-success-light: #f4fce2;
  --scg-clr-warn: #ffc233;
  --scg-clr-warn-light: #fff8e9;
  --scg-clr-danger: #ff004e;
  --scg-clr-danger-light: #ffe5ed;
  --scg-clr-info: #49b9ed;
  --scg-clr-enabler: #800080;
  --scg-shadow: 0px 4px 10px #bcbed3;
  --scg-rounded-none: 0px;
  --scg-rounded: 0.25rem;
  --scg-rounded-md: 0.375rem;
  --scg-rounded-full: 9999px;
  --scg-status-clr-toDo: var(--scg-clr-neutral-3);
  --scg-status-clr-toDo-bg: var(--scg-clr-secondary);
  --scg-status-clr-inProgress: var(--scg-clr-warn);
  --scg-status-clr-inProgress-bg: var(--scg-clr-warn-light);
  --scg-status-clr-onHold: var(--scg-clr-danger);
  --scg-status-clr-onHold-bg: var(--scg-clr-danger-light);
  --scg-status-clr-done: var(--scg-clr-success);
  --scg-status-clr-done-bg: var(--scg-clr-success-light);
  --scg-icon-clr-story: var(--scg-clr-success);
  --scg-icon-clr-spike: var(--scg-clr-warn);
  --scg-icon-clr-task: var(--scg-clr-info);
  --scg-icon-clr-cosmetic: var(--scg-clr-info);
  --scg-icon-clr-enabler: var(--scg-clr-enabler);
  --scg-icon-clr: var(--scg-clr-neutral-3);
}
