:root {
  --scg-status-clr-toDo: var(--scg-clr-neutral-3);
  --scg-status-clr-toDo-bg: var(--scg-clr-secondary);
  --scg-status-clr-inProgress: var(--scg-clr-warn);
  --scg-status-clr-inProgress-bg: var(--scg-clr-warn-light);
  --scg-status-clr-onHold: var(--scg-clr-danger);
  --scg-status-clr-onHold-bg: var(--scg-clr-danger-light);
  --scg-status-clr-done: var(--scg-clr-success);
  --scg-status-clr-done-bg: var(--scg-clr-success-light);
}

:root {
  --scg-icon-clr-story: var(--scg-clr-success);
  --scg-icon-clr-spike: var(--scg-clr-warn);
  --scg-icon-clr-task: var(--scg-clr-info);
  --scg-icon-clr-cosmetic: var(--scg-clr-info);
  --scg-icon-clr-enabler: var(--scg-clr-enabler);
  --scg-icon-clr: var(--scg-clr-neutral-3);
}